body {
    background-color: bisque;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #BADA55;
    color: black;
}

fieldset{
    margin-top: 5%;
    font-size: large;
    max-width: 40%;
    max-height: 60%;
}

textarea{
    resize: none;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    background-color: mintcream;
    border-radius: 4px;
    box-sizing: border-box;
}

input{
    border: 2px solid black;
    background-color: mintcream;
    border-radius: 4px;
    box-sizing: border-box;
}

#about{
    float: right;
}

#textfield{
    width: 30%;
    height: 20%;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #BADA55;
    border: none;
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}