<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <ul>
            <li><a href="/">Main Menu</a></li>
            <li><a href="add">Add question</a></li>
            <li><a href="list">Questions</a></li>
            <li id="about"><a href="about">About</a></li>
        </ul>

            <div id="trans" class="right">
            <img width="400px" height="600px" class="bottom" src="static/applepay.jpg" />
            <img width="400px" height="600px" class="top" src="static/artemis.jpg" />
            </div>

             <div id="trans" class="middle">
            <img width="350px" height="251px" class="bottom" src="static/tesla.jpg" />
            <img width="350px" height="251px" class="top" src="static/mcdonald.jpg" />
            </div>
    </body>
</html>
