
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <ul>
            <li><a href="/">Main Menu</a></li>
            <li><a href="add">Add question</a></li>
            <li><a href="list">Questions</a></li>
            <li id="about"><a href="about">About</a></li>
        </ul>

                <table>
                    <tr>
                        <th>Index</th>
                        <th>Tytuł</th>
                        <th>Pytanie</th>
                        <th>Czas dodania</th>
                        <th>Ilość wyświetleń</th>
                        <th>ilość likeów</th>
                    </tr>
        {% for question in questions  %}
                    <tr>
                        <td>{{ loop.index }} </td>
                        <td><a href="show_question/{{ question['id'] }}">{{ question['title'] }} </a></td>
                        <td>{{ question['message'] }} </td>
                        <td>{{ question['submission_time'] }} </td>
                        <td>{{ question['view_number'] }} </td>
                        <td>{{ question['vote_number'] }} </td>
                        <td>
                            <a href="list/{{ question['id'] }}/up"><img border="0" src="static/up.png" width="50"
                                                                        height="50"></a>
                        </td>
                        <td>
                            <a href="list/{{ question['id'] }}/down"><img border="0" src="static/down.png" width="50"
                                                                          height="50"></a>
                        </td>
                        {% if question['image'] %}
                        <td><img src="/static/{{ question['image'] }}" alt="Example image" class="img-thumbnail" style="height:70px; width:auto;"></td>
                    {% else %}
                        <td><img src="http://placehold.it/80" alt="Example image" class="img-thumbnail" style="height:70px; width:auto;"></td>
                    {% endif %}
                    <td><a href="/question/{{ question['id'] }}/delete"><i class="fas fa-trash text-danger"></i></a></td>
                    </tr>

        {% endfor %}
                </table>
    </body>