<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <ul>
            <li><a href="/">Main Menu</a></li>
            <li><a href="/add">Add question</a></li>
            <li><a href="/list">Questions</a></li>
            <li id="about"><a href="about">About</a></li>
        </ul>
        <table>
            <td>{{ question['title'] }} </td>
            <td>{{ question['message'] }} </td>
            <td>{{ question['submission_time'] }} </td>
            <td>{{ question['view_number'] }} </td>
            <td>{{ question['vote_number'] }} </td>
            {% if question['image'] %}
            <td><img src="/static/{{ question['image'] }}" alt="Example image" class="img-thumbnail" style="height:70px; width:auto;"></td>
            {% else %}
                <td><img src="http://placehold.it/80" alt="Example image" class="img-thumbnail" style="height:70px; width:auto;"></td>
            {% endif %}
            <td><a href="/question/{{ question['id'] }}/delete"><i class="fas fa-trash text-danger"></i></a></td>
        </table>
        </br>
        <a href="/question/{{ question['id'] }}/new-answer"><button><span>Add Answer</span></button></a>
         </br>
        <table id="answers">
        {% for answer in answers  %}
            <tr>
            <td>{{ loop.index }} </td>
            <td>{{ answer['message'] }} </td>
            <td>{{ answer['submission_time'] }} </td>
            <td>{{ answer['vote_number'] }} </td>
            </tr>
            {% if answer['image'] %}
                        <td><img src="/static/{{ answer['image'] }}" alt="Example image" class="img-thumbnail" style="height:70px; width:auto;"></td>
                    {% else %}
                        <td><img src="http://placehold.it/80" alt="Example image" class="img-thumbnail" style="height:70px; width:auto;"></td>
                    {% endif %}
                    <td><a href="/question/{{ answer['id'] }}/delete"><i class="fas fa-trash text-danger"></i></a></td>
            {% endfor %}
        </table>

    </body>
</html>